

.asCont{
    width: 200px;
    margin-bottom: 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #fefefe;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.616);
}

.bold{
    font-weight: bold;
}

div{
    margin-bottom: 10px;
}

a{
    display: block;
    text-decoration: none;
    color: #fefefe;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(4, 24, 63);
    text-align: center;
    padding: 10px 30px;
}

.danger{
    background-color: rgba(255, 0, 0, 0.589);
}