h1{
    font-weight: bold;
    margin: 30px;
    text-align: center;
}

.details{
    border: 1px solid black;
    border-radius: 30px;
    width: 900px;
    margin: auto;
    padding: 15px;
    margin-top: 250px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.473);
    background-color: #fefefe;
}

p{
    margin: 15px;
}

h2{
    margin: 15px;
}

button{
    background-color: #111;
    color: #fefefe;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    
    position: absolute;
    top: 240px;
    left: 530px;
}
button:hover{
    cursor: pointer;
}